h1{
    text-align: center;
    
}
table{
    width: 1105px;
    margin: 15px auto;
    font-family: 'Noto Sans', sans-serif;
}
p{
    border-left: 3px solid rgb(0, 110, 255);
    padding: 15px;
}
p:hover{
    border-left: 3px solid rgb(0, 255, 115);
}
code{
    color: crimson;
    size: 7px;
}
